<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marsman template | <%= current_page.data.title %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag  :head %>
  </head>
  <body class="<%= current_page.data.body %> <%= current_page.data.use_layout %>">
    <a id="top" class="sr-only" aria-hidden="true">Top page</a>
    <%= partial "partials/shapes" %>
    <%= yield %>
    <%= javascript_include_tag  :body %>
  </body>
</html>
