<footer class="footer">
	<div class="footer__main">
		<div class="footer__container">
			<div class="footer__link-groups">
				<div class="footer__link-group">
					<h3>MarsMan</h3>
					<ul>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
					</ul>
				</div>
				<div class="footer__link-group">
					<h3>Síguenos</h3>
					<ul>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
					</ul>
				</div>
				<div class="footer__link-group">
					<h3>Idiomas</h3>
					<ul>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
						<li><a href="#"><%= lorem.words(rand(1..3)).humanize %></a></li>
					</ul>
				</div>
			</div>
			<div class="footer__social">
				<a href="/" class="footer__logo">
					<%= svg('marsman-template') %>
			  </a>
			  <ul class="footer__social-icons">
			  	<% ['github','instagram','medium','linkedin','facebook',
			  		'twitter'].each do |i| %>
						<li><a href="/" class="footer__icon--<%=i%>"></a></li>
			  	<% end %>
			  </ul>
			</div>
		</div>
	</div>
	<div class="footer__info">
		<div class="footer__container">
			<div class="footer__copyright">
				© Copyright 2016, Marsman Template S.L.
			</div>
			<a href="#top" class="footer__top-page">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>