<header class="header">
  <div class="header__container">
    <button class="btn-collapse">
      <span>menu</span>
    </button>
    <div class="header__logo">
      <%= svg('marsman-template') %>
    </div>
    <nav class="header__nav">
      <div class="header__lenguages">
        <button class="btn">
          ES <i class="icon-caret"></i>
        </button>
      </div>
      <ul class="nav-inline">
        <li class="active"><a href="/">Shop</a></li>
        <li><a href="/">Company</a></li>
        <li><a href="/">Platform</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <input type="text" class="search" placeholder="Search..." >
      <button class="btn-primary">Upload</button>
      <div class="header__user-info dropdown">
        <button data-toggle="dropdown">
          <%= image_tag('avatar.png')%>
        </button>
        <ul class="dropdown-menu right" aria-labelledby="dropdown-usuarios">
          <li class="dropdown-header">
            Signed in as <br>
            <strong><%= Faker::GameOfThrones.character %></strong>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <%= link_to('Your profile', 'whole-page-text') %>
          </li>
          <li>
            <%= link_to('<i class="icon-logout"></i> Sign out', 'sign-in') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>