<% unread_message = defined?(unread) ? unread : false %>
<% active_message = defined?(active) ? 'active' : false %>
<% date_message = defined?(date) ? date : "#{rand(1...30)}/#{rand(1...12)}/2016" %>
<a href="javascript:void(0)" class="message <%= active_message if active_message %>">
  <div class="message-image">
    <%= image_tag "messaging/example-user#{rand(1...6)}.jpg" %>
  </div>
  <div class="message-content">
    <div class="message-date">
      <%= date_message %>
    </div>
    <% if current_page.data.message_title %>
    <div class="message-title">
      <%= ["Order ##{rand(0..10000)}",'CONVERSATION'].sample %>
    </div>
    <% end %>
    <div class="message-user">
      <%= lorem.name %>
    </div>
    <% if unread_message %>
    <div class="badge">
      <%= unread_message %>
    </div>
    <% end %>
    <div class="message-text">
      <%= lorem.sentence %>
    </div>
  </div>
</a>