---
title: Welcome to marsman Template
body: home
---
<div class="main-content">
	<div class="container">
		<h1 class="sr-only">marsman-template</h1>
		<%= svg('marsman-template') %>
		<div class="list-pages">
			<div class="row">
				<div class="col-sm-6">
					<h4>Login</h4>
					<ul>
						<li><%= link_to 'Sign up', '/sign-up.html' %></li>
						<li><%= link_to 'Sign in', '/sign-in.html' %></li>
						<li><%= link_to 'Reset Password', '/reset-password.html' %></li>
						<li><%= link_to 'Terms and conditions', '/terms-and-conditions.html' %></li>
					</ul>
					<h4>Example pages</h4>
					<ul>
						<li><%= link_to 'Whole page text', '/whole-page-text.html' %></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<h4>Others</h4>
					<ul>
						<li><%= link_to 'Toolkit', '/toolkit.html' %></li>
						<li><%= link_to '404', '/404.html' %></li>
						<li><%= link_to 'Maintenance',  '/maintenance.html' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>