---
title: Terms and conditions
use_layout: primary
body: sign-in
terms_date: 31/12/2016
terms_url: http://www.trustrightstudentloanservices.com/
terms_company: TrustRight Student Loan Services
---

<div class="single-content">
	<h1>Terms and Conditions ("Terms")</h1>
	<p>
		Last updated: (<%= current_page.data.terms_date %>)
	</p>
	<p>
		Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <%= current_page.data.terms_url %> website (the "Service") operated by <%= current_page.data.terms_company %> ("us", "we", or "our").
	</p>
	<p>
		Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
	</p>
	<p>
		<strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong>
	</p>
	<h2>Purchases</h2>
	<%= simple_format lorem.paragraphs(rand(1..6)) %>
	<h2>Content</h2>
	<%= simple_format lorem.paragraphs(rand(1..6)) %>
	<h2>Changes</h2>
	<%= simple_format lorem.paragraphs(rand(1..6)) %>
	<h2>Contact</h2>
	<%= simple_format lorem.paragraphs(rand(1..6)) %>
</div>
